button,
input,
label{
    cursor: pointer;
}

button:hover,
button:focus{
    color: white;
    background: rgba(0,0,0,0.50);
}

input:hover + label,
input:focus + label{
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.5);
}

.coldDiv input:hover + label,
.coldDiv input:focus + label{
    box-shadow: inset 0 0 0 5px rgba(128, 128, 128, 0.5);
}

.question input[type='radio']:checked+label{
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.5);
}

.coldDiv input[type='radio']:checked+label{
    box-shadow: inset 0 0 0 5px rgba(128, 128, 128, 0.5);
}
