*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

html,
body{
    width: 100vw;
    line-height: 1.6;
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
        img{
            display: block;
            height: auto;
            width: 100%;
        }
}

.wrapper{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

header,
.qContent,
.submit,
.results{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.headerFlexContainer,
.headerContent,
.question,
.qContent,
.submit,
.resultsFlexContainer{
    display: flex;
}

.qContent,
.submit,
.results,
.resultsFlexContainer{
    justify-content: center;
    align-items: center;
}

h1,
.question,
.submit,
.randomCountry{
    font-size: 8vw;
    color: white;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: normal;
}

.qContent,
.randomCountry{
    font-weight: bold;
}

.headerFlexContainer,
.resultsFlexContainer{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.25);
}

button{
    background: rgba(255,255,255,0.5);
    border: none;
    padding: 1vw 1.6vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

@media(max-width: 450px){
    button{
        letter-spacing: 3px;
    }
}
