header{
    background-image: url(../assets/start.jpg);
    background-attachment: fixed;
        .header-flex-container{
            justify-content: space-between;
            padding: 20px 0 35px;
            height: 100vh;
                .header-content{
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;   
                    text-align: right;
                    color: white;
                    font-size: 24px;
                        h1{
                            letter-spacing: 10px;
                            text-shadow: -1px 1px 0 lightgrey, 1px 1px 0 lightgrey, 1px -1px 0 lightgrey, -1px -1px 0 lightgrey;
                        }
                        p{
                            width: 80%;
                            line-height: 1.6;
                        }
                }
        }
    
}

@media(max-width: 765px){
    header{
        .header-flex-container{
            background: rgba(0, 0, 0, 0.50);
            text-align: center;
            align-items: center;
            .header-content{
                text-align: center;
                display: block;
                h1{
                    font-size: 9.5vw;
                }
                p{
                    font-weight: 20px;
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width: 600px){
    header{
        .header-flex-container{
            .header-content{
                p{
                    font-size: 20px;
                }
            }
        }
    }
}