.questions{
    .question{
        input{
            display: none;
        }
        .qContent{
            width: 50%;
                label{
                    transition: all 0.5s ease;
                    padding: 0 2vw 0 3.5vw;
                }
        }
        .hotDiv{
            background-image: url(../assets/hot.jpg);
        }
        .coldDiv{
            background-image: url(../assets/cold.jpg);
                label{
                    color: rgba(128,128,128,0.75);
                }
        }
        .cityDiv{
            background-image: url(../assets/city.jpg);
        }
        .natureDiv{
            background-image: url(../assets/nature.jpg);
        }
        .budgetDiv{
            background-image: url(../assets/budget.jpg);
        }
        .luxuryDiv{
            background-image: url(../assets/luxury.jpg);
        }
    }
}

@media(max-width: 765px){
    .questions{
        .question{
            .qContent{
                font-size: 7vw;
            }
        }
    }
}

@media(max-width: 600px){
    .questions{
        .question{
            display: block;
            .qContent{
                width: 100%;
                height: 50vh;
                font-size: 12vw;
                background-position: left;
            }
        }
    }
}

